* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    background-color: #090909;
    font-family: 'Poppins', sans-serif;
}

/* font-family: 'Libre Baskerville', serif;
font-family: 'Montserrat', sans-serif;
 */

.landing-page {
      width: 100%;
      height: 100vh;
      /* border: 2px solid white; */
}

.head {
    width: 100%;
    height: 60px;
    background-color: #0A2324;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;
    box-shadow: 0 0 500px rgba(255, 255, 255, .2);

}

.head-left {
    background-color: #0A2324;
    width: 40%;
    font-size: 2rem;
}
header {
    background-color:#0A2324;
}

.head-right ul {
    background-color: #0A2324;
    display: flex;
    justify-content: space-around;
}

.head-right a {
    background-color: #0A2324;
    color: #FFFFFF;
}
.head-right  {
    
    width: 45%;
}

.head-right ul li a {

    transition: 0ms;
    font-weight: 500;
}
.head-right ul li a:hover {
    color: #0EBFCC;
   
}

.head-right ul li {
    background-color: #0A2324;
    display: inline;
    /* justify-content: space-around; */
    font-size: 1.3rem;
}


/* left main section of landing page  */

.main-content{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    /* background-color: aliceblue; */
}

.content-box {
    height: 70%;
    width: 80%;
    /* background-color: aqua; */
}

.pic{
    background-image: url(img/imgg.png);
    background-size:cover;   
    height:92vh;
    width: 50%;
}

.main-page {
    background-color: #090909;
display: flex;
/* width: 100%; */
}

.content {
    width: 100%;
    /* padding-bottom: 1rem; */
}

.s1 {
    font-size: 2.5rem;
    color: #FFFFFF;
}
.s2 {
    padding-top: 0px;
    font-family: 'Libre Baskerville', serif;
    font-size: 2rem;
    color: #0EBFCC;
}

.s3 {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.8rem;
    color: #FFFFFF;
}

.s4 {
    padding-top: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: #FFFFFF;
}

.s5 {
    color: #4DCAD2;
}


.s6 {
    margin-top: 2rem;
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: center;  */
    /* align-content: center; */
}

.button-2 {
    /* background-color:#090909; */
}

.button-1 button,
.button-2 button {
    padding: 0.85rem 4rem;
    margin: 0 2rem;
    border-radius: .7rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: .06rem;
    box-shadow: 0 0 900px rgba(255, 255, 255, .4);
    transition: 500ms;
    border: none;
}

.button-1 button {
    /* margin: 0 2rem 0 0; */
    color:  #0EBFCC;
    background-color:#FFFFFF;
}



.button-1 button:hover,
.button-2 button:hover
 {  

    padding: 1.05rem 4.3rem;
    color:  #FFFFFF;
    background-color: #0A2324;
    border: 2px solid white;
}

.button-2 button {
    
    /* margin: 0 2rem 0 0; */
    color: #FFFFFF;
    background-color: #0EBFCC;
}




.front {
    height: 900px;
    background-color: #090909;
}









 
@media (max-width: 1100px) {
    .main-content {
        width: 50%;
    }
    .pic {
        width: 70%;
        height: 70vh;
    }
    .s1 {
        padding-top: -1rem;
        font-size: 1rem; /* Adjust font size for mobile */
    }
    .s2 {
        font-size: 1.3rem; /* Adjust font size for mobile */
    }
    .s3 {
        font-size: 1rem; /* Adjust font size for mobile */
    }
    .s4 {
        font-size: 0.8rem; /* Adjust font size for mobile */
    }
    .head-right {
        display: none; /* Hide the navigation links for mobile */
    }
    .head-left {
        font-size: 2rem;
    }
    /* .head-left {
        
    } */
    .button-1 button,
    .button-2 button  {
        padding: 0.5rem 2rem;
        margin: 0 1rem 0 0;
    }
}



@media (max-width: 848px){

    .main-content {
        width: 40%;
        /* height: 70vh; */
        align-items:flex-start;
        margin-top: 2rem;
    }
    .pic {
        width: 60%;
        height: 60vh;
    }
    .s6 {
        display: block;
    }
    
    .button-1 button,
    .button-2 button  {
      margin: 0;
    }
    .button-2 button {
        margin-top: 1rem;
    }
    .button-1 button,
    .button-2 button  {
        padding: 0.4rem 1.5rem;
    }.button-1 button:hover,
    .button-2 button:hover
     {  
        padding: .5rem 1.8rem;
    }
    .head-left {
        font-size: 1.4rem;
    }
}


@media (max-width: 733px){
     .main-page {
       display:block;
       justify-content: center;
       /* width: 100%; */
     }
     .main-content,
     .pic {

        width: 100%;
     }
     .spe{
        font-size: .9rem;
     }
     .s6 {
        display: flex;
    }
    .button-2 button {
        margin-top: 0;
        margin-left: 3rem;
    }
    
}


.lower-space {
    height: 700px;
    background-color: #090909;
}


    /* about section  */

.about {
    /* border: 4px solid rgb(176, 219, 4); */
    width: 100%;
    margin: 15rem 0 3rem 0;
    color: #FFFFFF;
    background-color: #090909;
    height: 800px;
    display: flex;
    justify-content: space-between;
}


.pic-about {
    /* border: 4px solid red; */
    height: auto;
    width: 30%;
    background-image: url(img/pic2.jpg);
    background-size: cover;
    /* margin: 2rem 4rem 2rem 0rem; */
}

.info {
    /* display: flex;
    justify-content: space-between; */
    margin: 0rem 2rem 3rem 2rem;
    width: 70%;
    /* border: 4px solid blue; */
}


.main-info {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 0;
    flex-direction: column;
}

.about-heading {
    margin-bottom: 1rem;
    letter-spacing: .2rem;
    text-align: center;
}


.about-cont{
    margin-top: 1rem;
    /* border: 3px solid green; */
    display: flex;
    width: 100%;
    height: auto;
}

.about-q {
    margin: 0 1rem 1.2rem 0;
    width: 20%;
}
.about-ans {
    margin-left: 2rem;
    margin-right: 1.5rem;
    width: 80%;
}

.bold {
    letter-spacing: .1rem;
    font-weight: 700;
}

.blue {
    color: #0EBFCC;
}


.heading {
        /* padding-top: 1.2rem; */
        font-family: 'Montserrat', sans-serif;
        font-size: 1.1rem;
}

.sfont {
        /* padding-top: 1.2rem; */
        font-family: 'Montserrat', sans-serif;
        font-size: .9rem;
        color: #FFFFFF;
    
}



        /* Styles for tablets */
        @media (max-width: 1024px) {
           .heading {
            font-size:.8rem;
           }

           .sfont {
            font-size: .8rem;
           }
        }

        /* Styles for larger smartphones */
        @media (max-width: 768px) {
            .about {
                width: 100%;
                flex-direction: column;
            }

            .info {
                width: 90%;
            }

            .pic-about {
                width: 100%;
                /* margin-left: 4rem;
                margin-right: 4rem; */
                height: 70rem;
            }

            .heading {
                font-size: .8rem;
               }
    
               .sfont {
                font-size: .65rem;
               }
        }

        /* Styles for smaller smartphones */
        @media (max-width: 480px) {
            .heading {
                font-size:.6rem;
               }
    
               .sfont {
                font-size: .45rem;
               }
        }
