* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    background-color: #090909;
    font-family: 'Poppins', sans-serif;
}

/* font-family: 'Libre Baskerville', serif;
font-family: 'Montserrat', sans-serif;
 */

   /* header  */

   

.header {
    padding: 1rem 0 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0A2324;
    /* border-bottom: 1px solid #0EBFCC; */
}

.header a {
    color: white;
    
}


.right-header {
    float: right;
    margin-right: 1rem;
}

.right-header ul {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-header a {
    padding: .2rem 0;
    background-color: #0A2324;
    font-size: 1rem;
    padding-right: 1rem;
}

.right-header i {
    display: none;
}

nav ul li a:hover {
    color: #0EBFCC;
}

.left-header {
    background-color: inherit;
    color: white;
    font-size: 2rem;
    margin-left: 0.8rem;
}

.left-header li  {
    background-color: #0A2324;
}

.header-down {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 9rem;
    background-color: #0A2324;
}

.header-list {
    transition: 0ms;
    margin: .2rem 0;
    padding: .2rem 0;
    text-align: center;
    width: 90%;
    border-radius: .2rem;
    border: 1px solid rgba(255, 255, 255, 0.404);
}

.header-list:hover {
    border: 1px solid #0EBFCC;
    box-shadow: 1rem 1rem 3rem rgba(255, 255, 255, 0.396);
}

.header-list a {
    color: white;
}

.header-down {
    padding: 1rem 0;
    display: none;
}

#cross {
    font-size: 1.4rem;
    display: none;
    background-color: #0A2324;
}


    /* Responsive of header */

@media (max-width: 828px) {
    .left-header {
        margin-left: .3rem;
    }
}

@media (max-width: 790px) {
    .left-header {
        margin-left: .5rem;
    }

    .left-header li {
        font-size: 1.3rem;
    }
    .header {
        padding: .7rem 0 .7rem .4rem;
    }
}

@media (max-width: 700px) {
    
.right-header a {
    display: none;
}

.right-header i {
    color: white;
   display:block;
}
}



















.landing-page {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
}

.landing-content {
    padding: 2rem;
    height: 42rem;
    width: 70rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landing-img img{
    width: 42rem;
    height: 44rem;

}

/* .landing-box {
    margin-left: 2rem;
} */


.s1 {
    font-size: 2.5rem;
    color: #FFFFFF;
}

.s2 {
    padding-top: 0px;
    font-family: 'Libre Baskerville', serif;
    font-size: 2rem;
    color: #0EBFCC;
}

.s3 {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.8rem;
    color: #FFFFFF;
}

.s4 {
    padding-top: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: #FFFFFF;
}

.s5 {
    transition: 0mss;
    color: #4DCAD2;
}

.s5:hover {
    color: yellow;
}


.s6 {
    margin-top: 2rem;
    display: flex;
}



.button-1 button,
.button-2 button {
    padding: 0.85rem 4rem;
    border-radius: .7rem;
    font-family: Montserrat, sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: .06rem;
    /* box-shadow: 0 0 900px rgba(255, 255, 255, .4); */
    transition: 500ms;
    border: none;
    /* border: .5px solid #090909; */
    box-shadow:  0 0 6rem #0ebfcc56;
}

.button-1 button {
    margin-right: 2rem;
    color: #0EBFCC;
    background-color: #FFFFFF;
    box-shadow:  0 0 6rem #0ebfcc9a;
}
.button-1 a {
    color: #0EBFCC;
    background-color: #fff;
}



.button-1 button:hover,
.button-2 button:hover {
    box-shadow: 0 0 900px rgba(255, 255, 255, .4);
    color: #FFFFFF;
    background-color: #0A2324;
    border: .5px solid #fff;

}

.button-2 button {
    color: #FFFFFF;
    background-color: #0EBFCC;
}



@media (max-width: 1085px) {
    .s1 {
        font-size: 2rem;
    }
    
    .s2 {
        padding-top: 0px;
        font-size: 2rem;
    }
    
    .s3 {
        font-size: 1.4rem;
    }
    
    .s4 {
        padding-top: 1.2rem;
        font-size: 1rem;
    }

    .s6 {
        margin-top: 2rem;
    }

    .button-1 button {
        margin-right: 2rem;
    }
    
    .button-1 button,
    .button-2 button {
    padding: 0.85rem 3rem;
    border-radius: .7rem;
    font-size: 1rem;
    letter-spacing: .06rem;
    border: .5px solid #090909;
    }

    .landing-img img{
        width: 34rem;
        height: 41rem;
    }
    
}


@media (max-width: 920px) {
    .s1 {
        font-size: 1.3rem;
    }
    
    .s2 {
        padding-top: 0px;
        font-size: 1.5rem;
    }
    
    .s3 {
        font-size: 1rem;
    }
    
    .s4 {
        padding-top: .9rem;
        font-size: 1rem;
    }

    .s6 {
        margin-top: 1.5rem;
    }

    .button-1 button {
        margin-right: 1.5rem;
    }
    
    .button-1 button,
    .button-2 button {
    padding: 0.85rem 2rem;
    border-radius: .7rem;
    font-size: 1rem;
    letter-spacing: .06rem;
    border: .5px solid #090909;
    }

    .landing-img img{
        width: 30rem;
        height: 35rem;
    }
    .landing-content {
        height: 35rem;
    }
    .head-left {
        font-size: 1.5rem;
    }
    
}



@media (max-width: 792px) {
    .s1 {
        font-size: 1rem;
    }
    
    .s2 {
        padding-top: 0px;
        font-size: 1.2rem;
    }
    
    .s3 {
        font-size: .7rem;
    }
    
    .s4 {
        padding-top: .5rem;
        font-size: .7rem;
    }

    .s6 {
        margin-top: 1rem;
    }

    .button-1 button {
        margin-right: 1rem;
    }
    
    .button-1 button,
    .button-2 button {
    padding: 0.5rem 1rem;
    border-radius: .7rem;
    font-size: .8rem;
    letter-spacing: .06rem;
    border: .5px solid #090909;
    }

    .landing-img img{
        width: 22rem;
        height: 25rem;
    }
    .landing-content {
        height: 23rem;
    }
    .head-left {
        font-size: 1rem;
    }
    
}

@media (max-width: 675px) {
    .head-right ul li a {
        display: none;
    }
    .head-left  {
        font-size: x-small;
        /* width: 100%; */
    }
}

@media (max-width: 575px) {
    .landing-page {
        flex-direction: column-reverse;
    }
    .landing-content {
        height: 13rem;
        /* padding: 2rem; */
        width: auto;
    }
    .landing-img{
        display: flex;
        justify-content: flex-end; 
    }
    
    .landing-img img{
        width: 27rem;
        height: 31rem;
    }
    .button-1 button,
    .button-2 button {
    padding: 0.8rem 3rem;
    border-radius: .7rem;
    font-size: .8rem;
    letter-spacing: .06rem;
    border: .5px solid #090909;
    }
    
}

@media (max-width: 462px) {
    .landing-content {
        height: 13rem;
        padding: 2rem;
        width: auto;
    }
    
    .landing-img img{
        width: 24rem;
        height: 30rem;
    }
}

@media (max-width: 420px) {
    .s1 {
        font-size: .7rem;
    }
    
    .s2 {
        font-size: .9rem;
    }
    
    .s3 {
        font-size: .5rem;
    }
    
    .s4 {   
        padding-top: .5rem;
        font-size: .5rem;
    }

    .s6 {
        margin-top: .8rem;
    }

    .button-1 button {
        margin-right: .8rem;
    }
    
    .button-1 button,
    .button-2 button {
    padding: 0.5rem 2.5rem;
    }

    .landing-img img {
        width: 22rem;
        height: 27rem;
    }
    .landing-content {
        height: 10rem;
        /* padding: .8rem; */
        width: auto;
    }
    .head-left {
        font-size: .8rem;
    }
}

@media (max-width: 368px) {
    .landing-img img {
        width: 21rem;
        height: 26rem;
      }

      .button-1 button,
      .button-2 button {
       padding: 0.5rem 1.5rem;
    }
  }

@media (max-width: 329px) {
  .landing-img img {
    width: 18rem;
    height: 22rem;
    }
}







/* about section  */





.skills {
    color: #FFFFFF;
    margin: 2rem;
    /* background-color: #0A2324; */
    display: flex;  
    flex-wrap: wrap;
    justify-content:center;
    align-content: center;
}

.card {
    height: 25rem;
    width: 20rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 30px rgba(14,191,204,.5);
    margin: 1rem;
    border: .5px solid white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    transition: .4s;
}

.card:hover {
    border: .5px solid #0ebfcc;
    box-shadow: 1px 1px 40px rgba(252, 252, 252, 0.5);
}
.text-heading h3{
    text-align: center;
    font-weight: 600;
    color: #0ebfcc;
    margin: 4rem auto;
    padding: 1rem;
    /* background-color: rgba(255, 255, 255, 0.081); */
    box-shadow: 1px 1px 30px rgba(14,191,204,.5);
    font-size: 3rem;
    letter-spacing: .35rem;
}

.skill-pic img {
    margin-top: 1rem;
    height: 11rem;
    width: 40%;
    
}
.extra-pic-width img {
    /* put this below the .skill-pic img, to over write the property */
    width: 80%;
}

.m-extra-pic-width img {
    width: 60%;
}


.skill-pic{
    display: flex;
    justify-content: center;
}


.skill-tittle {
    font-size: 2.2rem;
    text-align: center;
    font-weight: 600;
    color: #0EBFCC;
    margin: 1rem 0;
}

.skill-des {
    font-size: medium;
    text-align: center;
}












/* ABOUT ME  */


.about-me {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    /* padding: 1rem; */
}

.margin {
    padding: 1rem;
}



#space {
    margin-top: 0rem;
}

.des {
    width: 100%;
    text-align: start;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: .5rem 0;
    /* border: 4PX solid PINK; */
}

.about-me-que {
    text-align: start;
    width: 21rem;
    /* margin: 0 1rem; */
}

.about-me-ans {
    font-family: Montserrat;
    margin:   auto;
    text-align: start;
    width: 70%;
}


.text-que {
    color: #0EBFCC;
    font-size: 1.5rem;
}

.new1 {
    margin-top: 5rem;
}

.contact form {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.form-box {
    border-radius: .45rem;
    box-shadow: 1px 1px 20px rgba(14,191,204,.2);
    border: .5px solid white;
    padding-left: 2rem;
    height: 2.5rem;
    background-color: #090909;
    color: #FFFFFF;
    margin: 1rem 4rem;
    transition: .3s;
}

.form-box:hover {
    box-shadow: 1px 1px 20px rgba(252, 252, 252, 0.2);
}
   

.contact-heading h2 {
    font-family: 'Montserrat';
    font-size: 1.8rem;
    margin-left: 4rem;
}

#message {
    padding-top: .5rem;
    height: 6rem;
}

#name {
    margin-top: 1.5rem;
}

#btn {
    background-color: #0ebfcc9a;
    color: #ffffffc6;
    font-size: larger;
    font-weight: 700;
    letter-spacing: .21rem;
}










@media (max-width : 850px ) {
    .card {
        height: 20rem;
        width: 15rem;
    }

    .skill-pic img {
        margin-top: .5rem;
        height: 7rem;
    }
    
    .skill-tittle {
        font-size: 1.6rem;
    }
    
    .skill-des {
        font-size: small;
    }
    
    .text-heading h3{
        margin: 1.5rem auto;
        font-size: 2.5rem;
        letter-spacing: .35rem;
    }

    /* about me media quuerry :)  */
    .text-que {
        font-size: 1.3rem;
        width: 18rem;
    }
    .form-box {
        margin: 1rem 3rem;
    }
    .contact-heading h2 {
        margin-top: 2.5rem;
        font-size: 1.5rem;
        margin-left: 3rem;
    }
    #name {
        margin-top: 1rem;
    }
}


@media (max-width : 697px ) {
    .card {
        height: 16rem;
        width: 11rem;
    }

    .skill-pic img {
        margin-top: .35rem;
        height: 5rem;
    }
    
    .skill-tittle {
        font-size: 1rem;
    }
    
    .skill-des {
        font-size: smaller;
    }
    .text-heading h3{   
        font-size: 2rem;
        letter-spacing: .3rem;
    }
    .text-que {
        font-size: 1rem;
        width: 15rem;
    }
    .form-box {
        padding-left: 1.6rem;
        margin: 1rem 2rem;
    }
    .contact-heading h2 {
        margin-top: 2rem;
        font-size: 1.2rem;
        margin-left: 2rem;
    }
    #name {
        margin-top: 1rem;
    }
}

 @media (max-width : 563px ) {
    .card {
        height: 14rem;
        width: 9rem;
    }

    .skill-pic img {
        margin-top: .5rem;
        height: 3.5rem;
    }
    
    .skill-tittle {
        font-size: 1.2rem;
    }
    
    .skill-des {
        font-size: xx-small;
    }
    .text-heading h3{  
      
        font-size: 1.6rem;
        letter-spacing: .3rem;
    }
    .text-que {
        font-size: .81rem;
        width: 12rem;
    }
    .form-box {
        padding-left: 1.2rem;
    }
    .text-heading h3{    
        font-size: 1rem;
    }

} 

@media (max-width : 512px ) {
    .card {
        margin: .2rem;
        height: 11rem;
        width: 7rem;
    }

    .skill-pic img {
        margin-top: .4rem;
        height: 3.5rem;
    }
    
    .skill-tittle  {
        margin-bottom: 0.8rem;
        font-size: .8rem;
    }
    
    .skill-des {
        font-size: .51rem;
    }
    
    .skills {
        margin: .8rem;
    }
    .text-heading h3{    
        font-size: 1.2rem;
    }
    .text-que {
        font-size: .61rem;
        width: 10rem;
    }
    .form-box {
        padding-left: 1rem;
        margin: .7rem 1.3rem;
    }
    .contact-heading h2 {
        margin-top: 1.3rem;
        font-size: .8rem;
        margin-left: 1.3rem;
    }
    .form-box {
        margin: .5rem 1rem;
    }
    .contact-heading h2 {
        margin-top: 1rem;
        font-size: 1.2rem;
        margin-left: 1rem;
        
    }


} 


@media (max-width : 349px ) {
    .card {
        margin: .2rem;
        height: 9.5rem;
        width: 5rem;
    }

    .skill-pic img {
        margin-top: .2rem;
        height: 3rem;
    }
    
    .skill-tittle  {
        margin: 0.2rem;
        font-size: .75rem;
    }
    
    .skill-des {
        font-size: .41rem;
    }
    
    .skills {
        margin: .8rem;
    }
    .text-heading h3{  
        
        font-size: 1rem;
        letter-spacing: .2rem;
    }
    .text-que {
        font-size: .51rem;
        width: 8rem;
    }
    .contact-heading h2 {
        margin-top: 1.3rem;
        font-size: .6rem;
        margin-left: 1.3rem;
    }
    .form-box {


        margin: .5rem 1rem;
    }
    .contact-heading h2 {
        margin-top: 1rem;
        font-size: 1.2rem;
        margin-left: 1rem;
    }
    #message {
        height: 5rem;
    }

} 


.project {
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}



.frame {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

.projectIcon {
   /* filter: drop-shadow(0 0  30px #0ebfcc9c); */
   transition: 0ms;
    font-size: 2.5rem;
}

.projectIcon:hover {
    color: #0ebfcc9c;
}

.frame img {
    width: 42rem;
    border-radius: 1.4rem;
    box-shadow: 0rem 0rem 2rem #0ebfcc9c;
    height: 22rem;
}

.frameBtn button  {
    transition: .5s;
    border-radius: .5rem;
    padding: .45rem 2rem;
    border: 2px solid white;
    color: white;
    margin-top: 1rem;
    margin-right: 1rem;
}

.frameBtn button a {
    color: white;
}
.frameBtn button:hover {
    box-shadow: 0 0 4rem #0ebfcc62;    
}

.projectDetails {
    margin-top: 2.3rem;
    width: 80%;
}

.projectTitle {
    font-size: 2.5rem;
}

.projectDescriptionText {
    font-size: 1rem;
}

@media (max-width : 849px) {
    .frame {
        margin-top: 4rem;
    }
}

@media (max-width : 892px) {
    .frame img {
        height: 20rem;
        width: 35rem;
    }
    .projectTitle {
        font-size: 2rem;
    }
    
    .projectDescriptionText {
        font-size: .8rem;
    }
    .frameBtn button  {
        border-radius: .5rem;
        padding: .45rem 1rem;
    } 
}

@media (max-width : 790px) {
    .frame img {
        height: 15rem;
        width: 27rem;
    }
    .projectTitle {
        font-size: 1.5rem;
    }
    
    .projectDescriptionText {
        font-size: .65rem;
    }
    .frameBtn button  {
        border-radius: .5rem;
        padding: .3rem .7rem;
    } 
}

@media (max-width : 660px) {
    .frameBtn a {
        font-size: .7rem;
    }
    .projectIcon {
        font-size: 1.8rem;
    }
    .frame {
        margin-top: 3rem;
    }
    .frame img {
        box-shadow: 0rem 0rem 1rem #0ebfcc9c;
        height: 11rem;
        width: 21rem;
    }
    .frameBtn button  {
        border-radius: .5rem;
        padding: .3rem .7rem;
    } 
}

@media (max-width : 480px) {
    .frameBtn a {
        font-size: .55rem;
    }
    .projectIcon {
        font-size: 1.1rem;
    }
    .frame img {
        height: 8rem;
        width: 16rem;
    }
    .projectTitle {
        font-size: 1.5rem;
    }
    
    .projectDescriptionText {
        font-size: .5rem;
    }
    .frameBtn button  {
        border-radius: .35rem;
        padding: .05rem .6rem;
    } 
}

        /* project section  */
